
    <div class="main">
        <div class="user_info">%USER% | <a href="%SIGN_OUT_URL%" title="サインアウト">サインアウト </a></div>
        <h2 class="heading">投稿を削除</h2>
        <div class="news_view">
            <div class="viewport">
                <div class="result message">投稿が削除されました</div>
                <div class="home"><a href="/admin/">システム管理者用インデックスページ</a></div>
            </div>
            <div class="warning">%WARNING%</div>
            <div class="message">%MESSAGE%</div>
        </div>
    </div>
